<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Test Plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.sportscanner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>PlexAgentAttributionText</key>
	<string>
		    &lt;a href=&quot;http://thetvdb.com&quot;&gt;TheTVDB.com&lt;/a&gt; is a community driven database of television shows. &lt;br/&gt;
							It is our aim to be the most complete and accurate source of&lt;br/&gt;
							information on TV series from many languages and countries.
		  </string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexAgentAttributionText</key>
  <string>
    &lt;a href=&quot;http://thetvdb.com&quot;&gt;TheTVDB.com&lt;/a&gt; is a community driven database of television shows. &lt;br/&gt;
					It is our aim to be the most complete and accurate source of&lt;br/&gt;
					information on TV series from many languages and countries.
  </string>
</dict>
</plist>
